services:
  db:
    image: postgres
    restart: always
    ports:
      - 5440:5432
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: local
    volumes:
      - pgdata:/var/lib/postgresql
  mailpit:
    image: axllent/mailpit
    container_name: better-auth-ui-svelte-mailpit
    restart: unless-stopped
    ports:
      - '1025:1025' # SMTP server
      - '8025:8025' # Web UI
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
volumes:
  pgdata:
